<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>"美旅"登录</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top_hw clearfix">
    <div class="top_h clearfix">
        <div class="top_hl"><span>欢迎来到美旅，美您旅，行之天下！</span> 欢迎加入：<b>Beautiful travels</b></div>
        <div class="top_hr"><a th:href="@{/register}">会员注册</a>  |  <a th:href="@{/goLogin}">登录</a>
    </div>
</div>
<div class="head_w">
    <div class="head_t clearfix">
        <div class="logo"><img src="images/Logo.png"/></div>
        <div class="rx_line"><img src="images/Logo2.jpg"/></div>
    </div>
</div>
<div class="mainNav clearfix">
    <ul class="Nav_ul">
        <li><a th:href="@{/index}">推荐</a></li>
        <li><a th:href="@{/travelRoute}">路线route</a></li>
        <li><a th:href="@{/travelSpot}">景点scenicspot</a></li>
        <li><a th:href="@{/hotelAccommodation}">酒店hotel</a></li>
        <li ><a th:href="@{/car}">车票ticket</a></li>
        <li><a th:href="@{/insurance}">保障guarantee</a></li>
        <li><a th:href="@{/strategy}">攻略Strategy</a></li>
        <li><a th:href="@{/attention}">关于我们</a></li>
        <li th:if="${session.userName!=null}"><a th:href="@{/userCenter}">会员中心</a></li>
    </ul>
</div>
<div class="b_wrap">
    <div class="current"><span>当前您在：</span><a th:href="@{/index}">首页</a>  >> <a th:href="@{/goLogin}">账号登录</a></div>
    <div class="login_w clearfix">
    <form class="layui-form" method="post" action="/userLoging">
        <div class="login">
            <div class="login_t">登录</div>
            <div class="login_con">
                <table class="login_tab" width="270" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>用户名：</td>
                    <td><input type="text" id="userName" name="userName" value="" placeholder="请输入用户名"/></td>
                  </tr>
                  <tr>
                    <td>密&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
                    <td><input type="password" id="password" name="password" value="" placeholder="请输入密码"/></td>
                  </tr>
                  <tr>
                      <td></td>
                       <td th:text="${message}" ></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><button class="log_b" type="submit">登 录</button>
                  </tr>
                </table>
            </div>
            <div class="login_b">
                <p>还没有"美旅"账号?  <a class="free_zc" th:href="@{/register}">免费注册</a> </p>
            </div>
        </div>
    </form>
    </div>
</div>
</body>
</html>
