<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>"美旅"景点</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"> 
    $(function(){
        var wweya_li =$("div.tab_menu ul li");
        wweya_li.click(function(){
        $(this).addClass("selected")            
         .siblings().removeClass("selected");  
            var index =  wweya_li.index(this); 
        $("div.tab_box > div")  
        .eq(index).show(100)   
            .siblings().hide(); 
                }).hover(function(){
            $(this).addClass("hover");
        },function(){
            $(this).removeClass("hover");           
        });
    });
</script>
</head>
<body>
<div class="top_hw clearfix">
    <div class="top_h clearfix">
        <div class="top_hl"><span>欢迎来到美旅，美您旅，行之天下！</span> 欢迎加入：<b>Beautiful travels</b></div>
        <div class="top_hr"><a th:if="${session.userName==null}" th:href="@{/register}">会员注册</a>  |  <span th:if="${session.userName!=null}" th:text="'欢迎你，'+${session.userName}"></span><a th:if="${session.userName==null}" th:href="@{/goLogin}">登录</a>  |  <a th:if="${session.userName!=null}" th:href="@{/goLogout}">退出</a></div>
    </div>
</div>
<div class="head_w">
    <div class="head_t clearfix">
        <div class="logo"><img src="images/Logo.png"/></div>
        <div class="rx_line"><img src="images/Logo2.jpg"/></div>
    </div>
</div>
<div class="mainNav clearfix">
    <ul class="Nav_ul">
        <li><a th:href="@{/index}">推荐</a></li>
        <li><a th:href="@{/travelRoute}">路线route</a></li>
        <li class="cur"><a th:href="@{/travelSpot}">景点scenicspot</a></li>
        <li><a th:href="@{/hotelAccommodation}">酒店hotel</a></li>
        <li ><a th:href="@{/car}">车票ticket</a></li>
        <li><a th:href="@{/insurance}">保障guarantee</a></li>
        <li ><a th:href="@{/strategy}">攻略Strategy</a></li>
        <li><a th:href="@{/attention}">关于我们</a></li>
        <li th:if="${session.userName!=null}"><a th:href="@{/userCenter}">会员中心</a></li>
    </ul>
</div>
<div class="b_wrap">
    <div class="current"><span>当前您在：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/travelSpot}">旅游景点</a>>> <a href="#">景点详情</a> </div>
    <div class="clumn_w clearfix">
        <div class="clumn_l">
            <div class="clumn">
                <div class="clumn_tit t01">旅游景点</div>
                <div class="clumn_con">
                    <div class="cln_w">
                        <p>热点城市：</p>
                        <div class="cln_c clearfix">
                            <a href="#" target="_blank">北京</a>
                            <a href="#" target="_blank">上海</a>
                            <a href="#" target="_blank">广州</a>
                            <a href="#" target="_blank">深圳</a>
                            <a href="#" target="_blank">郑州</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clumn_r">
            <div class="tc_tit" th:text="${entity.spotName}"></div>
            <div class="xq_wrap clearfix">
                <div class="xq_left"><img th:src="${entity.imgUrl}" width="600px" height="400px"/></div>

            </div>
            <div class="xq_wrap">
              <div class="tab_menu xq_menu">
                <ul class="xq_ul">
                    <li class="selected">景点简介</li>
                </ul>
              </div>

                    <div class="xq_detail">
                        <p th:if="${entity.spotStar==1}">景点等级：A</p><p></p>
                        <p th:if="${entity.spotStar==2}">景点等级：AA</p><p></p>
                        <p th:if="${entity.spotStar==3}">景点等级：AAA</p><p></p>
                        <p th:if="${entity.spotStar==4}">景点等级：AAAA</p><p></p>
                        <p th:if="${entity.spotStar==5}">景点等级：AAAAA</p><p></p>
                        <p th:text="'景点地址：'+${entity.spotAddress}"></p><p></p>
                        <p th:text="'开放时间：'+${entity.openTime}"></p><p></p>
                        <p th:text="'门票价格：￥'+${entity.ticketsMessage}"></p><p></p><p>
                        <p th:text="'景点简介：'+${entity.spotIntro}"></p><p></p>
                    </div>
                    <div class="xq_button">
                        <a th:if="${session.userName!=null}" th:href="@{/travelSpotCreatOrder(id=${entity.id})}">
                            <img src="images/order_button.jpg"/></a>
                        <p th:if="${session.userName==null}"><font color="red">订票需要先登录哦</font></p>
                        <p th:if="${CreatSuccess==true}"><font color="red">预定成功，请前往我的订单查看预定</font></p></div>



            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</body>
</html>
